.Logo {
    width: 100%;
}

.LogoWrapper {
    margin-top: -40px;
    margin-bottom: -50px;
    display: flex;
    justify-content: center;
    height: 190px;
}

.LogoWrapper img {
    height: 100%;
}



@media screen and (min-width: 600px) {

    .LogoWrapper img {
        height: 100%;
    }

}