.Logo {
    position: fixed;
    height: 50px;
    top: 5px;
    left: 5px;
}

.Logo img {
    height: 100%;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 349px) {
    .Logo {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .Logo {
        opacity: 1;
    }
}