.Logo {
    position: fixed;
    height: 100px;
    max-width: 110px;/*Samsung Internet WTF?*/
    top: 0px;
    left: 0px;
}

.Logo img {
    height: 100%;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 349px) {
    .Logo {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .Logo {
        height: 180px;
        left: -28px;
        top: -40px;
    }
}