.SponsorsSection {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 100%;
    width: calc(100% - 20px);
    overflow-y: none;
}

.SponsorSectionMarker{
    position: absolute;
    width: 60px;
    height: 60px;
    top: -5px;
    left: 0px;
}

.SponsorSectionMarker img{
    height: 100%;
    transform: scale(.8);
}

.SponsorsHeader {
    text-align: center;
}

.SponsorsHeader p {
    margin: 0px;
    margin-bottom: 15px;
    font-size: 35px;
    color: #FFFFFF;
    font-family: 'Mountains of Christmas', cursive;
}

.SponsorList {
    max-height: calc(100% - 95px);
    overflow-y: auto;
    padding: 15px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;

}

.SponsorItem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
    background-color: #4d56625b;
    color: #FFFFFF;
}

.SponsorItemHeader {
    /* height: 50px; */
    text-align: center;
    padding-top: 5px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.SponsorItemHeader p {
    font-size: 20px;
    margin: 0px;
}

.SponsorLogoWrapper{
    margin-top: 5px;
}

.SponsorLogoWrapper img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.SponsorFooter {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.SponsorFooter span {
    font-size: 45px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}

.SponsorFooter img {
    height: 70px;
    margin-top: -10px;
    margin-right: -5px;
    cursor: pointer;
    user-select: none;
}

@media screen and (min-width: 800px) {

    .SponsorList {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 5px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .SponsorItem {
        width: 100%;
        height: 200px;
    }
    .SponsorLogoWrapper {
        height: 110px;
    }
    .SponsorLogoWrapper img {
        height: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .SponsorList {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-column-gap: 5px;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .SponsorItem {
        width: 100%;
    }
}