.Cookies {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.CookiesItem {
    display: flex;
    justify-content: space-between;
    height: 35px;
    margin-bottom: 5px;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}

.CookiesItemLeft {
    margin-right: 8px;
}

.CookiesItemName {
    margin-left: 8px;

}

.CookiesItemLeft, .CookiesItemRight {
    display: flex;
}

.CookiesItemIcon svg {
    width: 25px;
    height: 25px;
}

.CookieControls {
    display: flex;
    width: 100%;
    cursor: pointer;
    user-select: none;
}

.CookieControlsExpanded {
    justify-content: left;
}

.CookieControls span{
    font-size: 35px;
    font-weight: 800;
}



.CookieControlsCollapsed {
    justify-content: left;
}



/*Night*/

.CookiesItem-Night {
    background-color: #000000;
    color: #5d5d5d;
}

.CookieControls-Night span {
    background-color: #000000;
    border-radius: 8px;
    color: #5d5d5d;
}

/*Silver*/

.CookiesItem-Silver {
    background-color: #C7D3DD;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    color: #000000;
}

.CookieControls-Silver span {
    background-color: #C7D3DD;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    color: #000000;
}


/*Standard*/

.CookiesItem-Standard {
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    color: #000000;
}

.CookieControls-Standard span {
    background-color: #ffffff;
    border-radius: 8px;
    color: #000000;
}

/*Retro*/

.CookiesItem-Retro {
    background-color: #dfd2ae;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    color: #000000;
}

.CookieControls-Retro span {
    background-color: #dfd2ae;
    border-radius: 8px;
    color: #000000;
}

/*Dark*/

.CookiesItem-Dark {
    background-color: #434343;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    color: #929292;
}

.CookieControls-Dark span {
    background-color: #434343;
    border-radius: 8px;
    color: #929292;
}

/*Aubergine*/

.CookiesItem-Aubergine {
    background-color: #2d5f75;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    color: #929292;
}

.CookieControls-Aubergine span {
    background-color: #2d5f75;
    border-radius: 8px;
    color: #929292;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}