.donate-fail-body{
    width: 100%;
    height: 385px;
}

.donate-fail-header{
    width: 100%;
    height: 25px;
}

.donate-fail-header p{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #dc3545;
}
#donate-fail-thing{
    font-size: 100px;
    text-align: center;
}
#donate-fail-description{
    margin-top: 65px;
    font-size: 20px;
}
