#checkout-form {
    display: none;
}

.rccs__number, .rccs__expiry__valid, .rccs__expiry__value {
    display: none;
}

.rccs__card--unknown>div {
    background: linear-gradient(25deg, #999, #999);
    box-shadow: 0 5px 5px 0 rgba(90, 116, 148, 0.4);
    background-image: url(https://i.ibb.co/XJwqbSD/RXTgcW.jpg);
    background-size: 480px;
    -webkit-animation: rotate-in-2-fwd-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-in-2-fwd-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.rccs__chip {
    left: 5%;
}

.rccs__name {
    color: #ffffff;
}

.donate-header {
    width: 100%;
}

.donate-header p {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin: 0px;
}

.donate-form-wrapper {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
}

.non-secure-form-wrapper {
    margin-top: 10px;
}

.donate-footer {
    display: flex;
    width: 100%;
}

#donate-cancel-btn {
    margin-right: auto;
}

.card-section-wrapper {
    height: 35px;
    border-bottom: 1px solid #6c757d !important;
    margin-top: 13px;
    padding-left: 10px;
}

.form-group {
    margin: 0px !important;
    width: 100%;
}

.form-control {
    height: 45px !important;
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #6c757d !important;
    font-weight: 400 !important;
}

.form-group-wrapper {
    display: flex;
    width: 100%;
    margin-left: -10px;
}

.form-group-wrapper span {
    margin-top: 10px;
}

.card-section-validation {
    position: absolute;
    margin-left: -10px;
    margin-top: 10px;
}

.field-valid {
    color: green;
}

.field-invalid {
    color: red;
}

#card-section-wrapper {
    height: 33px;
    width: 248px;
    margin-top: 13px;
    margin-left: 15px;
    padding-left: 8px;
    border-bottom: 1px solid #6c757d !important;
}

#donate-form-complete-btn {
    -webkit-animation: rotate-in-2-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-in-2-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Change the white to any color */

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media only screen and (max-width: 340px) {
    .rccs__card--unknown>div {
        max-width: 230px;
    }
    .donate-form-wrapper{
        width: 230px;
    }
    #card-section-wrapper {
        width: 205px;
    }
}