.TrackerLoading {
    position: fixed;
    left: calc(50% - 175px);
    top: calc(50% - 20px);
    height: 250px;
    width: 300px;
}

.TrackerLoading p{
    margin-top: -30px;
    margin-left: 70px;
    z-index: 50;
}