.DonateSection {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.DonateSectionStocking{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 60px;
}

.DonateSectionHeader {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.DonateSectionHeader p {
    font-size: 28px;
    /* text-decoration: underline; */
    font-family: 'Mountains of Christmas', cursive;
}

.DonateSectionText {
    width: 90%;
    margin: auto;
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 600px;
    max-height: calc(100% - 350px);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.DonateSectionText p {
    color: white;
    text-align: center;
}

.DonateSectionDonateBtn {
    width: 100%;
    margin-top: 15px;
    z-index: 1000;
}

#donate-section-donate-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 600px) {
    .DonateSectionHeader {
        margin-bottom: 20px;
    }
    .DonateSectionHeader p{
        font-size: 40px;
    }
    .DonateSectionText p{
        font-size: 20px;
    }
}

@media only screen and (max-width: 376px) {
    .DonateSectionHeader {
        margin-bottom: 40px;
    }
    .JumpingElf{
        display: none;
    }
    .DonateSectionText{
        min-height: calc(100% - 280px);
    }
}

@media only screen and (max-height: 568px) and (min-width: 500px){
    .JumpingElf {
        display: none;
    }
    .DonateSectionHeader {
        margin-top: 25px;
    }
    .DonateSectionText {
        min-height: calc(100% - 150px);
    }
}
