.RouteSection {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.RouteSectionControls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.RouteViewer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background: transparent;
}
