.RouteSectionControls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    pointer-events: none;
}

.RouteSectionControls * {
    pointer-events: auto;
}

.RouteViewer {
    position: relative;
    z-index: 1;
}
