.RouteSection{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.RouteSectionControls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.RouteSectionLogo .RouteSectionControls * {
    pointer-events: auto;
}

.RouteViewer {
    position: absolute;
    top: 110px;
    width: 100vw;
    height: calc(100vh - 110px);
    z-index: 500;
    background: transparent
}