.AboutSection {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.AboutSectionMistletoe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
}

.LaughingSantaWrapper {
    display: none;
}

.AboutHeader {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
    text-align: center;
    color: white;
}

.AboutHeader p {
    font-size: 22px;
    text-decoration: underline;
}

.AboutContent {
    width: 100%;
    margin-top: 00px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-height: calc(100% - 350px);
    border-bottom: 1px solid gray
}

.AboutContent p {
    color: white;
    text-align: center;
}

@media only screen and (min-height: 600px) {
    /* .LaughingSantaWrapper {
        display: block;
        position: absolute;
        width: 300px;
        height: 300px;
        transform: scale(.5);
    } */
}