.AboutSection {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.AboutSectionMistletoe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
}

.LaughingSantaWrapper {
    display: none;
}

.AboutHeader {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20%;
    text-align: center;
    color: white;
}

.AboutHeader p {
    font-size: 28px;
    /* text-decoration: underline; */
    /* font-family: 'Mountains of Christmas', cursive; */
}

.AboutContent {
    width: 90%;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 600px;
    max-height: 50%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    
}

.AboutContent p {
    color: white;
    text-align: center;
    margin-top: 10px;
    /* -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

.JumpingElf{
    display: none;
}


@media screen and (orientation:landscape) and (max-height: 500px) {
    .AboutHeader {
        width: 100%;
        margin-top: 20px;
    }
    .AboutContent{
        max-height: 70%;
    }
}

@media screen and (orientation:landscape) and (min-height: 501px) {
    .AboutHeader {
        width: 100%;
        margin-top: 10%;
    }
}

@media screen and (min-height: 720px) {
    .JumpingElf{
        display: block;
    }
}
