.LiftoffWrapper {
  border-radius: 10px;
  margin-bottom: 5px;
  height: 35px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250,0.460,0.450,0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250,0.460,0.450,0.940) both;
  display: flex;
  align-items: center;
  user-select: none;
}

#liftoff-content-wrapper {
  display: flex;
  flex-direction: row;
}

#liftoff-content-wrapper p {
  margin: 0;
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 600;
}

#liftoff-icon {
  font-size: 30px;
  margin-left: 6px;
  margin-top: 2px;
}

#liftoff-standard {
  background-color: rgba(255, 255, 255, 1);
  color: #666666;
  font-weight: 500;
}

#liftoff-retro {
  background-color: #dfd2ae;
  color: #666666;
  font-weight: 500;
}

#liftoff-silver {
  background-color: #C7D3DD;
  color: #000000;
  font-weight: 500;
}

#liftoff-dark {
  background-color: #434343;
  color: #929292;
  font-weight: 500;
}

#liftoff-night {
  background-color: #000000;
  color: #5d5d5d;
  font-weight: 500;
}

#liftoff-aubergine {
  background-color: #2d5f75;
  color: #929292;
  font-weight: 500;
}
