.TrackerStats{
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 10px;
}

#stats-item-wrapper{
    width: 100%;
}

#stats-item-wrapper p{
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    /* text-align: center; */
}

.DistanceFromUserToSanta{
    height: 54px;

}

#distance-from-user-to-santa-content-wrapper{
    display: flex;
}

#distance-from-user-to-santa-content-wrapper p{
    margin-top: 15px;
    margin-right: 5px;
}

#tracker-menu-stats-wrapper-night{
    background-color: #242f3eb3;
    color: #f4f4f5;
}

#distance-from-user-to-santa-icon{
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 2px;
}

#distance-from-user-to-santa-night{
    background-color: #242f3eb3;
    color: #f4f4f5;
}