/* Target Bootstrap modal sections correctly */
#cookies-modal .modal-header,
#cookies-modal .modal-body,
#cookies-modal .modal-footer {
    margin: 0px;
    padding: 0px;
}

.CookiesModalHeader {
    width: 100%;
    height: 200px;
    text-align: center;
}

.CookiesModalHeaderIcon svg {
    height: 180px;
}

.ChooseCookiesInfo {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChooseCookiesCookieItem {
    height: 48px;
    line-height: 48px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
}

.ChooseCookiesCookieItemLeft {
    display: flex;
}

.ChooseCookiesCookieItemRight {
    display: flex;
}

.CookiesItemCount {
    margin-right: 6px;
    font-weight: 600;
}

.ChooseCookiesCookieItemIcon svg {
    width: 38px;
    height: 38px;
    margin: 6px;
    margin-top: 0px;
}

.ChooseCookiesCookieItemButtons {
    display: flex;
    width: 100px;
    padding: 2px;
}

.ChooseCookiesCookieItemButton {
    border-radius: 4px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
}


.CookiesModalFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/*Night*/
.CookiesModalNight .modal-content {
    background-color: #000000 !important;
}

.ChooseCookiesCookieItemButtonNight {
    background-color: #000000;
}

.ChooseCookiesCookieItemButtonNight.ChooseCookiesCookieItemButtonDisabled {
    color: rgb(124, 124, 124) !important;
}

.ChooseCookiesCookieItemNight {
    background-color: #4d5663;
    color: #ffffff;
}

.ChooseCookiesInfoNight {
    color: #ffffff;
}


/*Silver*/
.CookiesModalSilver .modal-content {
    background-color: #ffffff !important;
}

.ChooseCookiesCookieItemButtonSilver {
    background-color: #ffffff;
}

.ChooseCookiesCookieItemButtonSilver.ChooseCookiesCookieItemButtonDisabled {
    color: #6c757d !important;
}

.ChooseCookiesCookieItemSilver {
    background-color: #d6dfe6;
    color: #000000;
}

.ChooseCookiesInfoSilver {
    color: #000000;
}


/*Standard*/
.CookiesModalStandard .modal-content {
    background-color: #ffffff !important;
}

.ChooseCookiesCookieItemButtonStandard {
    background-color: #ffffff;
}

.ChooseCookiesCookieItemButtonStandard.ChooseCookiesCookieItemButtonDisabled {
    color: #6c757d !important;
}

.ChooseCookiesCookieItemStandard {
    background-color: #bdd8bb;
    color: #000000;
}

.ChooseCookiesInfoStandard {
    color: #000000;
}

/*Retro*/
.CookiesModalRetro .modal-content {
    background-color: #dfd2ae !important;
}

.ChooseCookiesCookieItemButtonRetro {
    background-color: #dfd2ae;
}

.ChooseCookiesCookieItemButtonRetro.ChooseCookiesCookieItemButtonDisabled {
    color: #6c757d !important;
}

.ChooseCookiesCookieItemRetro {
    background-color: #7c8250;
    color: #000000;
}

.ChooseCookiesInfoRetro {
    color: #000000;
}

/*Dark*/
.CookiesModalDark .modal-content {
    background-color: #2d2c2c !important;
}

.ChooseCookiesCookieItemButtonDark {
    background-color: #000000;
}

.ChooseCookiesCookieItemButtonDark.ChooseCookiesCookieItemButtonDisabled {
    color: #6c757d !important;
}

.ChooseCookiesCookieItemDark {
    background-color: #434343;
    color: #ffffff;
}

.ChooseCookiesInfoDark {
    color: #ffffff;
}

/*Aubergine*/
.CookiesModalAubergine .modal-content {
    background-color: #1d2c4dd4 !important;
}

.ChooseCookiesCookieItemButtonAubergine {
    background-color: #1d2c4dd4;
}

.ChooseCookiesCookieItemButtonAubergine.ChooseCookiesCookieItemButtonDisabled {
    color: #6c757d !important;
}

.ChooseCookiesCookieItemAubergine {
    background-color: #2d5f75;
    color: #ffffff;
}

.ChooseCookiesInfoAubergine {
    color: #ffffff;
}