html, body{
  margin: 0px;
  padding: 0px;
  background-color: #1b2c2e;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: url("https://i.ibb.co/f0gsh1R/0FYDzt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}




@-webkit-keyframes slide-in-right {
  0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
  }
}

@-webkit-keyframes rotate-in-2-fwd-ccw {
  0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
      transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateZ(0) rotate(0);
      transform: translateZ(0) rotate(0);
      opacity: 1;
  }
}

@keyframes rotate-in-2-fwd-ccw {
  0% {
      -webkit-transform: translateZ(-200px) rotate(45deg);
      transform: translateZ(-200px) rotate(45deg);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateZ(0) rotate(0);
      transform: translateZ(0) rotate(0);
      opacity: 1;
  }
}

@-webkit-keyframes rotate-in-2-ccw {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-2-ccw {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}