.ContactSection {
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
}

.ContactSectionHeader {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.ContactSectionHeader p {
    font-size: 20px;
}

.ContactSectionInputWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: calc(100% - 215px);
    max-width: 600px;
}

.ContactSectionInputWrapperUpperInput {
    margin-bottom: 5px;
}

.ContactSectionInputWrapper .form-control, .ContactSectionInputWrapper .form-control:focus {
    background-color: #393a3b;
    color: azure;
}

.ContactSectionMessageWrapper .form-control {
    height: calc(100vh - 365px) !important;
}

.ContactSectionInputWrapperUpperInput {
    display: flex;
}

.ContactSectionValidField span {
    margin-top: 10px;
    margin-left: -30px;
    margin-right: 5px;
    color: #28a745;
}

.ContactSectionInvalidField{
    margin-top: 10px;
}

.ContactSectionInvalidField span {
    margin-left: -15px;
    margin-right: 5px;
    color: #dc3545;
}

.ContactSectionMessageWrapper {
    display: flex;
}

.ContactSectionSaveBtnWrapper, .ContactSectionSavingBtnWrapper {
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
}

.ContactSectionSavingBtnWrapper {
    color: #898989;
}

.OtherContactMethods {
    width: 100%;
    bottom: 50px;
    display: flex;
    justify-content: center;
}

.OtherContactMethodsSocial {
    display: flex;
    justify-content: center;
}

.OtherContactMethodsSocial img {
    height: 65px;
    margin-left: -15px;
    cursor: pointer;
    user-select: none;
}

.OtherContactMethodsEmail {
    display: flex;
    justify-content: center;
}

.OtherContactMethodsEmail span {
    font-size: 45px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
}

@media screen and (min-width: 600px) {
    .ContactSectionHeader p {
        font-size: 30px;
    }
}